@import "tailwindcss";
:root {
    --text-color: #232323;
    --bg-color: #f3f4f6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #f3f4f6;
        --bg-color: #232323;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--text-color);
}